

/*---------------------------- HEADER------------------ */
.header{
	margin-top: 10px;
	border-bottom:2px solid #03b0ef;
}

.navbar-default .navbar-nav  li  a {
    color: #03b0ef;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.menu{
	margin-top: 20px;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #03b0ef;
    background-color:#1f5ca9;
}
/* -------------  DESTAQUES  ---------------   */

.title{
	border-bottom: 2px solid #1f5ca9;
}
.title h1{
margin-top: 40px;
font-size: 24px;
color: #03b0ef;

}
.thumbnail{
	margin-top: 10px;
	border: none;
}

.embed-responsive-4by3{
	margin-top: 10px;
}